<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>

</head>
<body>
<h1>Registro Coordenadas!</h1>

<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}

    <div>
        <button type="submit">Entrar</button>
    </div>
</form>

<div id="map"></div>
<script>

    function initMap() {
        var myLatLng = {lat: {{ latitude }}, lng: {{ longitude }}};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk-RyCCncIoSc4VoynqK5OsSnZj0h82SY&signed_in=true&callback=initMap">
</script>

</body>
</html>


